<div style="color: black;font-size: 50px;">Bài toán 1</div>
<div>
  <p>Nhập X</p>
  <input type="text" #idX value="" placeholder="N...">
  <p>Nhập N</p>
  <input type="text" #idN value="" placeholder="N...">
  <button (click)="tinh(idX.value,idN.value)">Tính</button>
  <h3>Giá Trị tổng là :{{s}}</h3>
</div>
<div style="color: black;font-size: 50px;">Bài toán 2</div>

    <div class="row">
        <div class="col-sm-4">
            <span>Nhập n: </span>
        </div>
        <div class="col-sm-4">
            <input type="text"  [(ngModel)]="n" class="form-control">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Nhập x: </span>
        </div>
        <div class="col-sm-4">
            <input type="text"  [(ngModel)]="x" class="form-control">
        </div>

    </div>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" (click)="tinh1()">Tính</button>
    </div>
    <h3>Kết quả: {{tong}}</h3>

<div style="color: black;font-size: 50px;">Danh sách </div>

<ng-container >
  <table>
    <tr>
      <th style="    border: 1px solid;    width: 150px;">Tên</th>
      <th style="    border: 1px solid;    width: 150px;">Điểm</th>
    </tr>
      <tr *ngFor="let ds of Danhsach">
        <th style="    border: 1px solid;    width: 150px;">{{ds.hoten}}</th>
        <th style="    border: 1px solid;    width: 150px;">{{ds.diemthi}}</th>
      </tr>
  </table>
</ng-container>
